<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Subscription App</title>
</head>
<body class="bg-primary text-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="container">
            <a href="/"class="navbar-brand">
                <h3 class="d-inline align-middle">Subscription App</h3>
            </a>
            {{#if user}}
                <div class="float-right" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/subscription">Your Subscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            {{else}}
                <div class="float-right" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                    </ul>
                </div>
             {{/if}}
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
