<section class="py-5">
    <h1 class="text-center">Welcome, {{user.name}}</h1>
    <div class="row">
        <div class="col-md-6 col-sm-6 text-center">
            <h1 class="display-5 mt-3 pt-5">
                Web Development Course 1 ($9) / Month
            </h1> <p class="lead">Learn Angular from scratch</p>
            <p>Earn credit 10</p>
            <form action="/payment/charge-angular" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_7T8o6E0z2aIZHfIxR8bhHp33"
                    data-image="/img/square-image.png"
                    data-name="Web Development Course 1"
                    data-description="Angular Course ($9.00)"
                    data-locale="auto"
                    data-amount="900">
                </script>
            </form>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
            <h1 class="display-5 mt-3 pt-5">
                Web Development Course 2 ($19) / Month
            </h1> <p class="lead">Learn NodeJs from scratch</p>
            <p>Earn credit 20</p>
            <form action="/payment/charge-node" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_7T8o6E0z2aIZHfIxR8bhHp33"
                    data-image="/img/square-image.png"
                    data-name="Web Development Course 2"
                    data-description="NodeJs Course ($19.00)"
                    data-locale="auto"
                    data-amount="1900">
                </script>
            </form>
        </div>
    </div>
</section>