<form class="py-5" method="POST", action="/users/login">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-primary bg-dark">Login</button>
</form>