<section class="py-5">
    <div class="row">
        <ul class="list-unstyled">
            <li><h3>Name: {{user.name}}</h3></li>
            <li> <h3>Email: {{user.email}}</h3></li>
            <li><h3>Credits Available: {{user.credits}}</h3></li>
            {{#if user.activeSubscription}}
                <li> <h3>Active Subscription: {{user.activeSubscription}}</h3></li>
            {{/if}}
        </ul>
    </div>
</section>