<form class="py-5" method="POST", action="/users/register">
  <div class="form-group">
    <label for="inputName">Full Name</label>
    <input type="name" class="form-control" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter password">
  </div>
  <div class="form-group">
    <label for="inputConfirmPassword"> Confirm Password</label>
    <input type="password" class="form-control" name="passwordc" placeholder="Enter confirm password">
  </div>
  <button type="submit" class="btn btn-primary bg-dark">Register</button>
</form>