<section class="py-5">
    {{#if user.activeSubscription}}
        <ul class="list-unstyled">
            <h1>You are enrolled in {{user.activeSubscription}}</h1>
            <li><h4>Subscription start date: {{user.startDate}}</h4></li>
            <li><h4>Subcription end date: {{user.endDate}}</h4></li>
        </ul>
    {{else}}
        <h1>You are not enrolled in any course</h1>
    {{/if}}
</section>