<section class="py-5">
    <h1 class="display-3">
        Thankyou {{user.name}}, For Purchasing the course.
    </h1>
    <p>Now you can start with your course</p>
    <a href="/" class="btn btn-dark btn-lg">Go back Home</a>
</section>